@tailwind base;
@tailwind components;
@tailwind utilities;

/**
* Propagate some defaults to the web-component
*/
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: theme("fontFamily.sans");
  font-feature-settings: "normal";
  margin: 0;
  line-height: inherit;
}

.config-form {
  position: relative;
  width: 100%;
  padding: 2rem 3rem;
}

.toast:where(.toast-top) {
  top: 6rem;
}

.tooltip:before {
  position: absolute;
  pointer-events: none;
  z-index: 1;
  content: var(--tw-content);
  --tw-content: attr(data-tip);
  max-width: 33rem;
  border-radius: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: hsl(0deg 0% 100%);
  color: hsl(0deg 0% 0%);
  width: -moz-max-content;
  width: max-content;
}
.main-container .alert {
  border-width: 1px;
  padding-left: 47px;
  padding-right: 14px;
  word-wrap: break-word;
  justify-content: flex-start;
}

.main-container .alert, .caret {
  position: relative;
}

.main-container .alert-danger {
  color: #363636;
  background-color: #ffe6e6;
  border-color: #c00 !important;
}

.main-container .alert {
  padding: 11px;
  border: 1px solid transparent;
  border-radius: 1px;
}

.main-container .alert, .progress, .thumbnail {
  margin-bottom: 20px;
}

.main-container .alert>.pficon {
  font-size: 22px;
  position: absolute;
  left: 13px;
  top: 10px;
  font-size:12px;
}

.main-container .btn {
  padding: 2px 12px;
  border: 0 !important;
  background-image: none;
}
.main-container .alert-warning {
  color: #363636;
  background-color: #fdf2e5;
  border-color: #ec7a08;
}

.main-container .arrow-pop {
  display: block;
  top: 86px;
  left: 1656px;
}

.main-container .popover.left>.arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: #bbb;
}
.main-container .popover>.arrow, .popover>.arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: rgba(0,0,0,0);
  border-style: solid;
}
.main-container .popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 220px;
  padding: 1px;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.66666667;
  line-break: auto;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  font-size: 12px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid #bbb;
  border-radius: 1px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.main-container .shadow {
  margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 20px;
    border-bottom: solid 2px #dadada;
    background: #fff;
}