SPRING_DATASOURCE_PASSWORD='entando_strapi_connector_password'
SPRING_DATASOURCE_USERNAME='entando_strapi_connector_user'
SPRING_DATASOURCE_URL='jdbc:postgresql://localhost:5432/entando_strapi_connector'